.snake-game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.grid {
  border: 5px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li {
  list-style: none;
  width: 5%;
  height: 5%;
}

.snake {
  background-color: green;
}

.empty {
  background-color: white;
}

.apple {
  background-color: red;
}
